.card__name {
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  font-family: "CabinetGrotesk-Bold";
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  
  margin-top: 16px;
  background-color: white;
  border-radius: 4px;
  padding: 2px 12px;
  max-width: 95px;
  margin-right: 10px;
}

.card__container {
  display: flex;
  justify-content: center;
  
}

.card {
  display: flex;
  
  position: absolute;
}

.card__image {
  width: 328px;
  height: 328px;
  border-radius: 19px;
}

.card__like-button {
  
  position: relative;
  background-image: url('../../images/like.svg');
  width: 18px;
  height: 15px;
  border: none;
  background-color: transparent;
  overflow: visible;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  top: 20px;
 
}

.card__like-button_active {
  position: relative;
  background-image: url('../../images/likeactive.svg');
  
  background-color: transparent;
}
